body{
    background-color: hsl(180, 19%, 95%);
}
.container{
    margin: auto;
    margin-top: 100px;
    width: 280px;
}
form{
    border: 1px solid var(--light-border);
    padding: 20px 28px 15px ;
    background-color: white;
}

.logo{
    margin: 0 auto;
    width: 80px;
}
.email{
    width: 100%;
    position: relative;
}
label{
    font-size: 15px;
    color:#636d78;;
    font-weight: 400;
}
.email input{
    margin-top: 3px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #48515b;
}
#icon {
    position: absolute;
    right: -20px;
    top: 31px;
    color: transparent;
}
.bt_wrap{
    margin-top:15px ;
    width: 100%;
    display: flex;
    justify-content: end;
}
.create_bt{
    cursor: pointer;
    border-radius: 4px;
    color: white;
    background-color:hsl(207, 68%, 41%);
    padding: 10px 10px;
}
.create_bt:hover{
    background-color:#2d8bd7 ;
}
a{
    font-size: 15px;
    display: block;
    padding: 10px 25px;
    color: #48515b;
    width: fit-content;
}
a:hover{
    color: #2d8bd7 ; 

}